<div class="panel panel-default">
  <div class="panel-heading">Cliente</div>
  <div class="panel-body">
  <%= form_for(@customer) do |f| %>
    <%= render :partial => 'template/form_errors', :object => @customer %>

      <div class="row">
        <div class="col-sm-6">
          <label>Nome</label>
          <%= f.text_field :first_name, :class => "form-control", :placeholder => "Nome" %>
        </div>
        <div class="col-sm-6">
          <label>Sobrenome</label>
          <%= f.text_field :last_name, :class => "form-control", :placeholder => "Sobrenome" %>
        </div>
      </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Telefone</label>
            <%= f.text_field :phone_number, :class => "campo_telefone form-control", :placeholder => "Telefone" %>
          </div>
          <div class="col-sm-6">
            <label>Email</label>
            <%= f.text_field :email_address, :class => "form-control", :id =>  "exampleInputEmail1", :placeholder => "email@example.com" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Endereço</label>
            <%= f.text_field :address, :class => "form-control", :placeholder => "Endereço" %>
          </div>
          <div class="col-sm-6">
            <label>Cidade</label>
            <%= f.text_field :city, :class => "form-control", :placeholder => "Cidade" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Estado</label>
            <%= f.select(:state, (['', 'SP','MG', 'SC']), {}, :class => 'form-control' ) %>
          </div>
          <div class="col-sm-6">
            <label>Cep</label>
            <%= f.text_field :zip, :class => "campo_cep form-control", :placeholder => "99.999-999" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.submit 'Cadastrar', :class => "btn btn-success btn-lg" %>
          </div>
        </div>
      <% end %>
  </div>
</div> 
