<div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Fornecedor</th>
            <th>Data</th>
            <th>Pedido</th>
            <th>Observações</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <% @pedidos.each do |pedido| %>
              <td><%= pedido.fornecedor.empresa %></td>
              <td><%= pedido.data%></td>
              <td><%= pedido.pedido %></td>
              <td><%= pedido.observacoes %></td>
              <td><%= pedido.email %></td>
              <td><%= link_to 'Detalhes', edit_pedido_path(pedido) %> | <%= link_to 'Excluir', pedido, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="panel-body">
        <%= will_paginate @pedidos, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>

    <div class="col-sm-12">
      <%= link_to 'Novo Pedido', new_pedido_path, :class => "btn btn-success btn-lg active" %>
    </div>